<app-header title="Chats"></app-header>
<ion-searchbar color="dark bg"></ion-searchbar>

<ion-content color="dark">
    <ion-list no-lines class="bg">
        <ion-item no-lines color="dark">
          <ion-avatar slot="start" class="ion-margin">
            <img src="../../../assets/images/usuario2.jpg" alt="IMG" />
          </ion-avatar>
          <ion-label>
            <h2>Asociación de amigos de los animales</h2>
            <p>Hola, es un gusto contactarnos...</p>
          </ion-label>
        </ion-item>
        <ion-item no-lines color="dark">
            <ion-avatar slot="start" class="ion-margin">
            <img src="../../../assets/images/usuario.jpg" alt="IMG" />
          </ion-avatar>
          <ion-label>
            <h2>Claudia Lopez</h2>
            <p>¿Cuándo puedo llegar?</p>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>