// Colors
$bg-color: hsl(256,33,10);
$dot-color: hsl(256,33,70);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;
.bg {
  background:
  linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
  linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
  $dot-color;
background-size: $dot-space $dot-space;
  // background: linear-gradient(135deg, var(--secundario) 25%, transparent 25%) -50px
  //     0,
  //   linear-gradient(225deg, var(--secundario) 25%, transparent 25%) -50px 0,
  //   linear-gradient(315deg, var(--secundario) 25%, transparent 25%),
  //   linear-gradient(45deg, var(--secundario) 25%, transparent 25%);
  // background-size: 2em 2em;
  // background-color: var(--secundarioclaro);
}

ion-toast .text-color{
  --button-color: #fff;
}


/*//////////////////////////////////////////////////////////////////
  [ login ]*/

  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
  }
  
  .wrap-login100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 110px 40px 95px;
  }
  
  /*------------------------------------------------------------------
    [  ]*/
  .login100-pic {
    width: 316px;
  }
  
  .login100-pic img {
    max-width: 100%;
  }
  
  /*------------------------------------------------------------------
    [  ]*/
  .login100-form {
    width: 290px;
  }
  
  .login100-form-title {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #000;
    line-height: 1.2;
    text-align: center;
  
    width: 100%;
    display: block;
    padding-bottom: 54px;
  }