// Colors
$bg-color: hsl(256,33,10);
$dot-color: hsl(256,33,70);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;
.bg {
  background:
  linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
  linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
  $dot-color;
background-size: $dot-space $dot-space;
  // background: linear-gradient(135deg, var(--secundario) 25%, transparent 25%) -50px
  //     0,
  //   linear-gradient(225deg, var(--secundario) 25%, transparent 25%) -50px 0,
  //   linear-gradient(315deg, var(--secundario) 25%, transparent 25%),
  //   linear-gradient(45deg, var(--secundario) 25%, transparent 25%);
  // background-size: 2em 2em;
  // background-color: var(--secundarioclaro);
}

ion-toast .text-color{
  --button-color: #fff;
}