<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="limiter">
  <div class="container-login100  bg ">
    <div class="wrap-login100  ">
      <span class="register100-form-title">
        Regístrate

      </span>
      <small class="register-subtitle">
        Comienza a cambiar vidas con nosotros.
      </small>

      <div class="login100-pic ">
        <img src="../../assets/images/logo-icon.png" alt="IMG">
      </div>


      <form class="login100-form" #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">


        <div class="wrap-input100">
          <input class="input100" type="text" name="name"
            [placeholder]="isUser ? 'Ingresa tu nombre ': 'Nombre de tu Organización'" [(ngModel)]="participante.name">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <ion-icon aria-hidden="true" [name]="isUser?'person-circle-outline':'people-circle-outline'"></ion-icon>
          </span>
        </div>
        <div class="wrap-input100">
          <input class="input100" type="text" name="email" placeholder="Correo electrónico"
            [(ngModel)]="participante.email">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <ion-icon aria-hidden="true" name="mail-outline"></ion-icon>
          </span>
        </div>
        <div *ngIf="isUser" class="wrap-input100">
          <input class="input100" type="date" name="birthdate" placeholder="BirthDate"
            [(ngModel)]="participante.birthdate" [min]="'01/01/'+(legalAge-100)" [max]="'01/01/'+legalAge"
            date-format="MM-dd-YYYY">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <ion-icon aria-hidden="true" name="balloon-outline"></ion-icon>
          </span>
        </div>
        <div class="wrap-input100">
          <input class="input100" type="password" name="pass" placeholder="Password"
            [(ngModel)]=" participante.password" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <ion-icon aria-hidden="true" name="lock-closed-outline"></ion-icon>
          </span>
        </div>

        <div class="wrap-input100">
          <input class="input100" type="password" name="pass2" placeholder="Confirm Password"
            [(ngModel)]="participante.password2" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <ion-icon aria-hidden="true" name="lock-closed-outline"></ion-icon>
          </span>
        </div>
        <div class="wrap-checkbox100">
          <ion-checkbox name="isUser" (click)="isUser=!isUser">

          </ion-checkbox>
          <span class="txt3">Iniciar sesión como Organización</span>


        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit" expand="block">
            Continue
          </button>

        </div>
        <app-federate></app-federate>

        <div class="text-center p-t-12">
          <span class="txt1">
            Olvidé mis credencias
          </span>
          <a class="txt2" href="#">
            ¿Username / Password?
          </a>
        </div>
        <div class="text-center">
          <span class="txt1">
            ¿Aún no tienes cuenta?
          </span>
          <a class="txt2" href="/register">
            Crear cuenta
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <ion-content color="primary">
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="name" type="text" placeholder="Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content> -->