<div class="limiter">
  <div class="container-login100  bg ">
    <div class="wrap-seguimiento100">
      <ion-card class="ion-card">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/images/profile-photo/empty.png" alt="IMG">
          </ion-avatar>
          <ion-label class="ion-margin">
            <h3>Alejandra Recinos</h3>
            <p>Jun 10, 2022</p>
          </ion-label>
        </ion-item>
        <img class="imgSeg" src="../../assets/images/Seguimiento2.jpeg" alt="IMG">
        <ion-card-header class="ion-margin">
          <ion-card-title>Carné de vacunación</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Cuidado de mascotas
        </ion-card-content>
      </ion-card>
      <ion-card class="ion-card">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/images/profile-photo/empty.png" alt="IMG">
          </ion-avatar>
          <ion-label class="ion-margin">
            <h3>Alejandra Recinos</h3>
            <p>Jun 10, 2022</p>
          </ion-label>
        </ion-item>
        <img src="../../assets/images/seguimiento1.jpg" alt="IMG">
        <ion-card-header class="ion-margin">
          <ion-card-title>Lugar de habitación</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Cuidado de mascotas
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>