.back {
  --background: rgb(255, 255, 255);
}
.ion-card {
  width: 365px;
  margin: 5px;
}

ion-label {
  color: rgb(169, 169, 169);
  border-left: 1px;
}
.contentP {
  color: rgb(0, 0, 0);
}

ion-toolbar {
  color: rgb(255, 255, 255);
  border-left: 1px;
}

.container {
  width: 100%;
}
.avatar {
  --border-radius: 100px;
  width: 150px;
  height: 150px;
  margin: auto;
}
.poster {
  width: 100%;
  height: auto;
  max-width: 180px;
}
.image-poster {
  width: 100%;
  height: auto;
}
.titulo {
  width: 100%;
  position: absolute;
  color: white;
  background-color: red;
  padding: 5px 5px 40px 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}

.flex {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.titulo h1 {
  position: absolute;
  top: 28px;
  left: 5px;
}

ion-label {
  white-space: normal !important; //ajusta el label size
}

.button {
  white-space: pre-wrap !important;
  height: min(2fr, 1fr);
}

.title {
  font-family: Poppins-Bold;
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 100%;
}

.user-name {
  font-family: Poppins-Bold;
  font-size: 32px;
  color: rgb(27, 26, 26);

  width: 100%;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
