<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">
            <ion-text color="light">
                <h1 class="title">Perfil</h1>
            </ion-text>
        </ion-title>
        <ion-buttons *ngIf="!user.isUser" slot="end">
            <ion-button (click)="addCuenta()">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="back">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" color="primary">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Actualizar"
            refreshingSpinner="circles" refreshingText="Actualizando...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-grid class="div-center back" fixed *ngIf="!editPassword">
        <ion-row class="ion-padding" *ngIf="!cambiarFoto">
            <ion-avatar class="avatar">
                <img src="../../../assets/images/profile-photo/empty.png" alt="IMG">
              </ion-avatar>
        </ion-row>
        <ion-row class="ion-padding p-t-0">
            <ion-col size="12">
                <span class="user-name">
                    {{user.name}}
                </span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12"></ion-col>
        </ion-row>
    </ion-grid>
    <ion-toolbar color="light">
        <ion-segment>
          <ion-segment-button value="publicacion">
            <ion-icon name="image-outline"></ion-icon>
            <ion-label>Publicaciones</ion-label>
          </ion-segment-button>
          <ion-segment-button value="adopcion">
            <ion-icon name="heart-outline"></ion-icon>
            <ion-label>Adopciones</ion-label>
          </ion-segment-button>
          <ion-segment-button value="donacion">
            <ion-icon name="cash-outline"></ion-icon>
            <ion-label>Donaciones</ion-label>
          </ion-segment-button>
          <ion-segment-button value="config">
            <ion-icon name="construct-outline"></ion-icon>
            <ion-label>Configuración</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <ion-card class="ion-card">
        <ion-item color="secondary">
          <ion-avatar slot="start">
            <img src="../../../assets/images/profile-photo/empty.png" alt="IMG">
          </ion-avatar>
          <ion-label class="ion-margin">
            <h3>{{user.name}}</h3>
            <p>Jun 11, 2022</p>
          </ion-label>
        </ion-item>
        <img src="../../assets/images/publicacion3.jpeg" alt="IMG">
        <ion-card-header class="ion-margin">
          <ion-card-title>¡Aniversario!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Estamos tan felices de haber cumplido un año con Tommy en nuestras vidas.
        </ion-card-content>
      </ion-card>
</ion-content>
<!-- 

    <ion-grid class="div-center" fixed *ngIf="!editPassword">
        <ion-row *ngIf="!cambiarFoto">
            <ion-col size="4">
                <ion-card class="poster">
                    <img class="image_poster" src="../../../assets/images/profile-photo/empty.png">
                </ion-card>
                <ion-button class="button" (click)="cambiarFoto = true; alert = false" expand="block" fill="clear"
                    shape="round">
                    Cambiar foto
                </ion-button>
            </ion-col>
            <ion-col size="8">
                <form #formulario="ngForm" class="m-l-10">
                    <ion-item-group>
                        <app-alert *ngIf="alert" [message]="message" [error]="error"></app-alert>
                        <ion-item>
                            <ion-label position="floating">Correo</ion-label>
                            <ion-input disabled="true" [(ngModel)]="user.email" pattern="^([a-zA-Z0-9_\-\.]+)$"
                                name="correo" type="text" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Nombre</ion-label>
                            <ion-input [(ngModel)]="user.name" pattern="^([a-zA-Z0-9_\-\.\s]+)$" name="name" type="text"
                                required></ion-input>
                        </ion-item>
                        <ion-item *ngIf="user.isUser">
                            <ion-label position="floating">DPI</ion-label>
                            <ion-input [(ngModel)]="user.dpi" maxlength='15' pattern="^([0-9\s]+)$" name="DPI"
                                type="text" required></ion-input>
                        </ion-item>

                        <ion-item *ngIf="user.isUser">
                            <ion-label position="floating">Fecha de Nacimiento</ion-label>
                            <ion-input type="text" name="nacimiento" disabled="true" [value]="user.birthdate">
                            </ion-input>
                        </ion-item>
                        <ion-item *ngIf="!user.isUser">
                            <ion-label position="floating">Estado</ion-label>
                            <ion-input type="text" name="nacimiento" disabled="true"
                                [value]="user.verification?'Cuenta Verificada':'Cuenta No Verificada'">
                            </ion-input>
                        </ion-item>
                    </ion-item-group>

                    <ion-button class="ion-margin" expand="block" color="primary" type="submit"
                        [disabled]="formulario.invalid">
                        Actualizar Datos
                    </ion-button>

                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content> -->