// Colors
$bg-color: hsl(256,33,10);
$dot-color: hsl(256,33,70);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;
.bg {
    background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
    
  }
  .title {
    font-family: Poppins-Bold;
    font-size: 20px;
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
  }
  
.ion-card{
    width: 380px;
    margin: 5px;
}
.wrap-seguimiento100 {
    width: 350px;
    height: 500px;
    background: #f2f2f2;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
  }

  .container-seguimiento100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
  }

  .avatar {
    width: 100px;
    height: 100px;
    padding-left: 37%;
    padding-top: 10%;
  }

  ion-content{
    margin: 25px;
  }
  .login100-form-btn{
    height: 40px ;
    width: 75%;
    border-radius: 20px;
  }

  
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
