<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button size="small" shape="round" (click)="cancel()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">
      <ion-text color="light">
        <h1 class="title">Mis Cuentas</h1>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Actualizar"
      refreshingSpinner="circles" refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher> -->
  <ion-list>
    <ion-item *ngFor="let cuenta of cuentas">
      <ion-avatar slot="start">
        <img [src]='"../../../assets/images/banks/"+ cuenta.Banco +".png"'>

      </ion-avatar>
      <ion-label class="ion-padding">
        <p>Banco: {{cuenta.Banco}}</p>
        <p>Numero de Cuenta: {{cuenta.NoCuenta}}</p>
        <p>Tipo de Cuenta: {{cuenta.TipoCuenta}}</p>
      </ion-label>

    </ion-item>

  </ion-list>
</ion-content>
<div class="limiter">
  <div class="container-login100  bg ">
    <div class="wrap-seguimiento100  ">

      <app-cuenta></app-cuenta>
    </div>
  </div>
</div>