

$bg-color: hsl(256,33,10);
$dot-color: hsl(256,33,70);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;
.bg {
    background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
    
  }
.ion-item {
    --background: rgb(246, 182, 255);
  }

ion-card {
    --background: rgb(255, 255, 255);
}

.item-inner {
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: var(--inner-padding-start);
    padding-inline-end: calc(var(--ion-safe-area-right, 0px) + var(--inner-padding-end));
    margin: 0px;
    padding-left: var(--inner-padding-start);
    padding-right: calc(var(--ion-safe-area-right, 0px) + var(--inner-padding-end));
    padding-top: var(--inner-padding-top);
    padding-bottom: var(--inner-padding-bottom);
    display: flex;
    position: relative;
    flex: 1 1 0%;
    flex-direction: inherit;
    align-items: inherit;
    align-self: stretch;
    min-height: inherit;
    border-width: var(--inner-border-width);
    /* border-style: var(--border-style); */
    border-color: var(--border-color);
    box-shadow: var(--inner-box-shadow);
    overflow: inherit;
    box-sizing: border-box;
}
// Colors
$bg-color: hsl(256,33,10);
$dot-color: hsl(256,33,70);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;
.bg {
  background:
  linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
  linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
  $dot-color;
background-size: $dot-space $dot-space;
  
}