<app-header title="About Us"></app-header>
<ion-content>
  <div class="limiter">
    <div class="container-login100  bg ">
      <div class="wrap-login100  ">
        <span class="login100-form-title">
          Acerca de nosotros
        </span>
        <form class="login100-form" #formulario="ngForm">

          <ion-card class="ion-card">
            <ion-item class="ion-item">
              <ion-icon name="rocket-outline" slot="start"></ion-icon>
              <ion-label>Misión</ion-label>
            </ion-item>
            <ion-card-content>
              <p>
                Brindar una herramienta accesible para organizaciones y usuarios, que sirva de medio para apoyar la
                adopción de animales.
              </p>
            </ion-card-content>
          </ion-card>
          <br>

          <ion-card color="dark">
            <ion-item color="secondary">
              <ion-icon name="eye-outline" slot="start"></ion-icon>
              <ion-label>
                <ion-label color="dark">Visión</ion-label>
              </ion-label>
            </ion-item>
            <ion-card-content>
              <p>
                Ser la primera aplicación en su tipo, facilitando la búsqueda y adopción de mascotas, permitiendo que
                puedan encontrar un hogar que les de una mejor calidad de vida.
              </p>
            </ion-card-content>
          </ion-card>
        </form>
        <form class="login100-form" #formulario="ngForm">
          <ion-card color="dark">
            <ion-item color="secondary">
              <ion-icon name="bug-outline" slot="start"></ion-icon>
              <ion-label>
                <ion-label color="dark">¿Quiénes somos?</ion-label>
              </ion-label>
            </ion-item>
            <ion-card-content>
              <p>
                Somos Disnidevs, un grupo de estudiantes de la Universidad Rafael Landivar, amantes de la programación y
                los animales.
              </p>
            </ion-card-content>
          </ion-card>
          <div class="login100-pic ">
            <img src="../../assets/images/logo disnidevs.png" alt="IMG">
          </div>
        </form>

      </div>
    </div>
  </div>
</ion-content>