<app-header title="Nueva Cuenta"></app-header>
<div class="limiter">
  <div class="container-login100  bg ">
    <div class="wrap-seguimiento100  ">
      <ion-icon class="avatar" name="paw-outline"></ion-icon>
      <ion-item color="dark" class="ion-margin">
        <ion-label position="floating">No. de cuenta</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-list class="ion-margin">
        <ion-item color="dark">
          <ion-select  color="dark" placeholder="Selecciona un banco">
            <ion-select-option color="dark" value="apples">BAC</ion-select-option>
            <ion-select-option color="dark" value="oranges">Banco Industrial</ion-select-option>
            <ion-select-option color="dark" value="bananas">Banco Promerica</ion-select-option>
            <ion-select-option color="dark" value="bananas">Banrural</ion-select-option>
            <ion-select-option color="dark" value="bananas">Bantrab</ion-select-option>
            <ion-select-option color="dark" value="bananas">Banco Ficohsa</ion-select-option>
            <ion-select-option color="dark" value="bananas">CHN</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list class="ion-margin">
        <ion-item color="dark">
          <ion-select  color="dark" placeholder="Selecciona un tipo de cuenta">
            <ion-select-option color="dark" value="apples">Monetaria</ion-select-option>
            <ion-select-option color="dark" value="oranges">Ahorro</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

    </div>
  </div>
</div>

