<div class="limiter">
  <div class="container-login100  bg ">
    <div class="wrap-publicacion100">
      <ion-card class="ion-card">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/images/profile-photo/empty.png" alt="IMG">
          </ion-avatar>
          <ion-label class="ion-margin">
            <h3>Alejandra Recinos</h3>
            <p>Jun 10, 2022</p>
          </ion-label>
        </ion-item>
        <img class="imgSeg" src="../../assets/images/publicacion2.jpeg" alt="IMG">
        <ion-card-header class="ion-margin">
          <ion-card-title>Chispita</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Adopta esta mascota
          Ubicación: Albergue de mascotas de Mixco
          Edad: 2 años
        </ion-card-content>
      </ion-card>
      <ion-card class="ion-card">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/images/profile-photo/empty.png" alt="IMG">
          </ion-avatar>
          <ion-label class="ion-margin">
            <h3>Alejandra Recinos</h3>
            <p>Jun 10, 2022</p>
          </ion-label>
        </ion-item>
        <img src="../../assets/images/publicacion1.jpg" alt="IMG">
        <ion-card-header class="ion-margin">
          <ion-card-title>Dulce</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Buscamos un hogar
          Ubicación: Albergue de mascotas de Santa Catarina Pinula
          Edad: 4 años
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>