ul.list-inline li {
  display: inline-block;
  padding: 0 8px;
}

.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
}
.btn-facebook:hover {
  color: #ffffff;
}

.btn-twitter {
  color: #ffffff;
  background-color: #55acee;
}
.btn-twitter:hover {
  color: #ffffff;
}

.btn-linkedin {
  color: #ffffff;
  background-color: #007bb6;
}
.btn-linkedin:hover {
  color: #ffffff;
}

.btn-google {
  color: #ffffff;
  background-color: #dd4b39;
}
.btn-google:hover {
  color: #ffffff;
}
