<ion-header>
    <ion-toolbar color="secondary">

        <ion-buttons slot="start">
            <ion-menu-button menu="first"></ion-menu-button>
        </ion-buttons>
        <ion-title class="title">Home</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="center" *ngIf="isLoading">
        <ion-spinner color="secondary" name="bubbles"></ion-spinner>
    </div>
    <app-publicacion *ngIf=" !isLoading && participant.isUser "></app-publicacion>
    <app-seguimiento *ngIf="!isLoading&& !participant.isUser"></app-seguimiento>
</ion-content>